:global {
  .drip-form_container--droppable {
    user-select: none;
    position: relative;
  }
  .drip-form_container--droppable .field-container {
    width: 100% !important;
  }
  .draggable {
    & .field-container {
      pointer-events:none;
    }
  }
}

.droppableHover {
  &:hover {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      @apply border-dotted border-2 border-blue-400;
    }
  }
}

.selected {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @apply border-solid border-2 border-blue-400;
  }
}

.isTopOver {
  @apply bg-blue-50;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    top: 0 !important;
    left: 0 !important;
    bottom: unset !important;
    right: unset !important;
    @apply bg-blue-400;
  }
}

.isBottomOver {
  @apply bg-blue-50;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0 !important;
    left: 0 !important;
    top: unset !important;
    right: unset !important;
    @apply bg-blue-400;
  }
}

.isLeftOver {
  @apply bg-blue-50;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    bottom: unset !important;
    right: unset !important;
    @apply bg-blue-400;
  }
}
.isRightOver {
  @apply bg-blue-50;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    top: 0 !important;
    bottom: unset !important;
    left: unset !important;
    right: 0 !important;
    @apply bg-blue-400;
  }
}

.childIsOver {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0 !important;
    bottom: unset !important;
    left: 0 !important;
    rigth: unset !important;
    width: 100%;
    height: 100%;
    @apply bg-blue-400 bg-opacity-60;
  }
}
