.viewport {
  @apply px-3 flex-grow;
  overflow: hidden scroll;
}

.formstyle {
  height: calc(100vh - 100px);
  @apply py-4 overflow-y-scroll overflow-x-hidden relative;
}

.formstyle::-webkit-scrollbar {
  display: none;
}

.emptyMask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  @apply z-10;
}
