.left {
  @apply transition-all h-full flex-shrink-0 flex-grow-0;
  overflow-y: scroll;
  width: calc(120px + 120px + 3.5rem + 5px);
}

.left::-webkit-scrollbar {
  display: none;
}

.leftClose {
  width: calc(120px + 2.5rem);
  @apply transition-all flex-shrink-0 flex-grow-0;
}

.title {
  border-bottom: 1px solid #eee;
  @apply text-xl p-2 font-medium flex justify-between items-center;
}

.subtitle {
  border-bottom: 1px solid #eee;
  @apply text-lg pt-2 pb-1 pl-2;
}

.container {
  @apply p-3;
}

.containeropen {
  @apply flex flex-wrap;
}

.closebtn {
  @apply hover:bg-blue-300 flex items-center p-2;
}

.componentstyle {
  height: calc(100vh - 100px);
  @apply pb-4 overflow-scroll;
}

.componentstyle::-webkit-scrollbar {
  display: none;
}
