:global {
  .rightSideBarGlobal {
    .object-container {
      .object-container__collapse-custom {
        margin-bottom: 0;
      }
    }
    .array-field--container {
      margin-bottom: 0;
    }
    .drip-form-root {
      max-height: calc(100vh - 95px);
      @apply pb-4 overflow-y-scroll;
    }
    .drip-form-root::-webkit-scrollbar {
      display: none;
    }
  }
}

.container {
  @apply pt-2 pb-2 h-full flex-shrink-0 flex-grow-0 overflow-y-hidden;
  width:350px;
}

.containerjson {
  @apply flex-shrink-0 flex-grow-0;
  width:calc(350px + 120px + 1rem);
}

.propertyConfig {
  @apply flex text-gray-500;
  line-height: 30px;
  align-items: center;
  margin-bottom: 15px;
}

.propertyConfigTitle {
  width: 82px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.propertyConfigContent {
  flex: 1;
}

.icon {
  @apply pr-2 text-blue-500;
}

.title {
  border-bottom: 1px solid #eee;
  @apply text-xl font-medium p-2 flex justify-between items-center;
}

.btncontainer {
  @apply flex justify-between items-center;
}

.jsonbtn {
  @apply cursor-pointer text-gray-500 hover:text-blue-500 mx-2 flex justify-between items-center;
}


